{% extends 'base.html' %}
{% load static %}

{% block title %}Food Junction{% endblock title %}
{% block content %}
<section>
    <div class="block blackish opac50">
        <div class="fixed-bg" style="background-image: url(static/images/parallax2.jpg);"></div>
        <div class="restaurant-searching style2 text-center">
            <div class="restaurant-searching-inner">
                <span>Delicious <i>Food</i> </span>
                <h2 itemprop="headline">Order Delivery & Take-Out</h2>
                <form class="restaurant-search-form2 brd-rd30">
                    <input class="brd-rd30" type="text" placeholder="RESTAURANT NAME">
                    <button class="brd-rd30 red-bg" type="submit">SEARCH</button>
                </form>
            </div>
        </div><!-- Restaurant Searching -->
    </div>
</section>
<section>
    <div class="block no-padding overlape-45">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="top-restaurants-wrapper">
                        <ul class="restaurants-wrapper style2">
                            <li class="wow bounceIn" data-wow-delay="0.2s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 1" itemprop="url"><img src={% static 'images/resource/top-restaurant1.png' %} alt="top-restaurant1.png" itemprop="image"></a></div></li>
                            <li class="wow bounceIn" data-wow-delay="0.4s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 2" itemprop="url"><img src={% static 'images/resource/top-restaurant2.png' %} alt="top-restaurant2.png" itemprop="image"></a></div></li>
                            <li class="wow bounceIn" data-wow-delay="0.6s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 3" itemprop="url"><img src={% static 'images/resource/top-restaurant3.png' %} alt="top-restaurant3.png" itemprop="image"></a></div></li>
                            <li class="wow bounceIn" data-wow-delay="0.8s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 4" itemprop="url"><img src={% static 'images/resource/top-restaurant4.png' %} alt="top-restaurant4.png" itemprop="image"></a></div></li>
                            <li class="wow bounceIn" data-wow-delay="1s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 5" itemprop="url"><img src={% static 'images/resource/top-restaurant5.png' %} alt="top-restaurant5.png" itemprop="image"></a></div></li>
                            <li class="wow bounceIn" data-wow-delay="1.2s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 5" itemprop="url"><img src={% static 'images/resource/top-restaurant6.png' %} alt="top-restaurant6.png" itemprop="image"></a></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- top returents -->

<section>
    <div class="block remove-bottom">
        <div class="container">
            <div class="row">
                <div class="welcome-sec">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="welcome-secinfo">
                            <h2>Welcome To FoodChow</h2>
                            <span>We Create Delicious Memories</span>
                            <p>Proin luctus, justo sit amet laoreet venenatis, libero velit tincidunt mi, nec 
fermentum ante massa id quam. In gravida erat vel diam blandit consequat morbi. Ut interdum nuceu egestas arcu uspend isse sodales. Eiusmod tempor incidiunt labore velit dolore magna aliqu sed enimi nim.</p>
                            <div class="award">
                                <img src={% static 'images/award.png' %} alt="">
                                <span><em>middle east</em>hotel <i>award</i></span>
                            </div>
                            <span class="sign">
                                <img src={% static 'images/sign.png' %} alt="">
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="welcome-gallery">
                            <img src={% static 'images/resource/food1.jpg' %} alt="">
                            <img src={% static 'images/resource/food2.jpg' %} alt="">
                            <img src={% static 'images/resource/food3.jpg' %} alt="">
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</section><!-- welcome section -->

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="title1-wrapper text-center">
                        <div class="title1-inner">
                            <span>Website for Restaurant and Cafe</span>
                            <h2 itemprop="headline">popular of the month</h2>
                        </div>
                    </div>
                    <div class="remove-ext">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="popular-dish-box style2 wow fadeIn" data-wow-delay="0.2s">
                                    <div class="popular-dish-thumb">
                                        <a href="food-detail.html" title="" itemprop="url"><img src={% static 'images/resource/popular-dish-img1.jpg' %} alt="popular-dish-img1.jpg" itemprop="image"></a>
                                        <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 4.25</span>
                                        <span class="likes"><i class="fa fa-heart-o"></i> 12</span>
                                    </div>
                                    <div class="popular-dish-info">
                                        <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Chili Spicy Food</a></h4>
                                        <p itemprop="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                        <span class="price">$85.00</span>
                                        <a class="brd-rd4 " href="food-detail.html" title="Order Now" itemprop="url">Order Now</a>
                                       
                                    </div>
                                </div><!-- Popular Dish Box -->
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block gray-bg2 top-padd30 bottom-padd210">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="filters-wrapper">
                    <div class="title1-wrapper text-center">
                        <div class="title1-inner">
                            <span>Your Favourite Food</span>
                            <h2 itemprop="headline">featured food</h2>
                        </div>
                    </div>
                    
                    <ul class="filter-buttons center">
                        <li class="active"><a class="brd-rd30" data-filter="*" href="#" itemprop="url">All</a></li>
                        <li><a class="brd-rd30" data-filter=".filter-item1" href="#" itemprop="url">Beverages</a></li>
                        <li><a class="brd-rd30" data-filter=".filter-item2" href="#" itemprop="url">Burgers</a></li>
                        <li><a class="brd-rd30" data-filter=".filter-item3" href="#" itemprop="url">Pasta</a></li>
                    </ul><!-- Filter Buttons -->
                    <div class="filters-inner style2">
                        <div class="row">
                            <div class="masonry">
                                <div class="col-md-6 col-sm-12 col-lg-6 filter-item filter-item1">
                                    <div class="featured-restaurant-box wow fadeIn" data-wow-delay="0.1s">
                                        <div class="featured-restaurant-thumb">
                                            <a href="food-detail.html" title="" itemprop="url"><img class="brd-rd50" src={% static 'images/resource/featured-restaurant-img1.jpg' %} alt="featured-restaurant-img1.jpg" itemprop="image"></a>
                                        </div>
                                        <div class="featured-restaurant-info">
                                            <span class="red-clr">5th Avenue New York 68</span>
                                            <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Pork Tenderloin Marinated</a></h4>
                                            <span class="price">$85.00</span>
                                            
                                            <ul class="post-meta">
                                                <li><i class="fa fa-check-circle-o"></i> Min order $50</li>
                                                <li><i class="flaticon-transport"></i> 30min</li>
                                            </ul>
                                            <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 4.25</span>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block no-padding red-bg">
        <img class="bottom-clouds-mockup" src="assets/images/resource/clouds2.png" alt="clouds2.png" itemprop="image">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="app-sec">
                        <div class="row">
                            <div class="col-md-4 hidden-sm col-md-offset-1 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-1">
                                <div class="app-mockup text-right overlape-110 wow fadeInUp" data-wow-delay="0.2s"><img src={% static 'images/resource/app-mockup.png' %} alt="app-mockup.png" itemprop="image"></div>
                            </div>
                            <div class="col-md-6 col-md-offset-1 col-sm-12 col-sm-offset-0 col-lg-6 col-lg-offset-1">
                                <div class="app-info">
                                    <h4 itemprop="headline">The Best Food Delivery App</h4>
                                    <p itemprop="description">We have a launch team that focuses on one city at a time. At the end of the day, we're a marketplace. In order to make an effective marketplace, you need critical mass. We need enough restaurants that  quality and variety</p>
                                    <div class="app-download-btns">
                                        <a class="" href="#" title="Google Play Store" itemprop="url" target="_blank"><img src={% static 'images/resource/app-download-btn1.png' %} alt="app-download-btn1.png" itemprop="image"></a>
                                        <a class="" href="#" title="Apple App Store" itemprop="url" target="_blank"><img src={% static 'images/resource/app-download-btn2.png' %} alt="app-download-btn2.png" itemprop="image"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- App Section -->
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}

