{% extends 'base.html' %}
{% load static %}
{% block title %}Our Menu{% endblock title %}
{% block content %}
<section>
    {% if 'search' in request.path %}
    <div class="block">
        <div class="fixed-bg" style="background-image: url({% static 'images/topbg.jpg' %});"></div>
        <div class="page-title-wrapper text-center">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="page-title-inner">
                    <h1 itemprop="headline">Search Found</h1>
                        <span>A Greate Restaurant Website</span>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="block">
        {% static '' %}
        <div class="fixed-bg" style="background-image: url({% static 'images/topbg.jpg' %});"></div>
        <div class="page-title-wrapper text-center">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="page-title-inner">
                    <h1 itemprop="headline">Our Menu</h1>
                        <span>A Greate Restaurant Website</span>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
   

</section>

<div class="bread-crumbs-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href={% url 'mainpage' %} title="" itemprop="url">Home</a></li>
            <li class="breadcrumb-item active">our menus</li>
        </ol>
    </div>

</div>

<section>
    <div class="block less-spacing gray-bg top-padd30">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="sec-box">
                        <div class="title1-wrapper text-center">
                            <div class="title1-inner">
                                <span>Your Favourite Food</span>
                                <h2 itemprop="headline">Choose your Food</h2>
                            </div>
                        </div>
                        <ul class="filter-buttons center">
                            {% if 'search' in request.path %}
                            {% else %}
                            <li class="active"><a class="brd-rd30" data-filter="*" href={% url 'our_menu' %} itemprop="url">All</a></li>
                            
                            
                           
                                {% for catg in catg %}
                                    
                                    <li class="active"><a class="brd-rd30" data-filter="*" href={% url 'our_catg' catg.slug %} itemprop="url">{{catg.catg_name}}</a></li>
                                {% endfor %}

                            {% endif %}

                        </ul>
                        {% if food_Items %}
                        <div class="remove-ext">
                            <div class="row">
                                {% for food in food_Items %}
                                <div class="col-md-4 col-sm-6 col-lg-4">
                               
                                <div class="popular-dish-box style2 wow fadeIn" data-wow-delay="0.2s">
                                    <div class="popular-dish-thumb">
                                        <a href="{{food.get_url}}" title="" itemprop="url"><img src="{{food.food_pic.url}}" alt="popular-dish-img1.jpg" itemprop="image"></a>
                                        <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 4.25</span>
                                    </div>
                                    <div class="popular-dish-info">
                                        <h4 itemprop="headline"><a href="{{food.get_url}}" title="" itemprop="url">{{food.food_name}}</a></h4>
                                        <p itemprop="description">{{food.food_desc|slice:60}}</p>
                                        <span class="price">Rs {{food.food_price}}</span>
                                        <a class="brd-rd4 " href="{{food.get_url}}" title="Order Now" itemprop="url">View Details</a>
                                        
                                    </div>
                                </div><!-- Popular Dish Box -->
                                
                            </div>
                            {% endfor %}
                            
                            
                            </div>
                        </div>
                        {% else %}
                        <h3 itemprop="headline">Food Items not Found!!</h3>
                        {% endif %}
                        {% if food_Items.has_other_pages %}
                        <div class="pagination-wrapper text-center">
                            <ul class="pagination justify-content-center">
                                {% if food_Items.has_previous %}
                                <li class="page-item prev"><a class="page-link brd-rd2" href="?page={{food_Items.previous_page_number}}" itemprop="url">PREVIOUS</a></li>
                                {% else %}
                                <li class="page-item prev disabled"><a class="page-link brd-rd2" href="#" itemprop="url">PREVIOUS</a></li>
                                {% endif %}
                                {% for number in food_Items.paginator.page_range %}
                                {% if food_Items.number == number %}
                                <li class="page-item active"><a class="page-link brd-rd2" href="#" itemprop="url">{{number}}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link brd-rd2" href="?page={{number}}" itemprop="url">{{number}}</a></li>

                                {% endif %}
                                {% endfor %}
                                {% if food_Items.has_next %}
                                <li class="page-item next"><a class="page-link brd-rd2" href="?page={{food_Items.next_page_number}}" itemprop="url">NEXT</a></li>
                                {% else %}
                                <li class="page-item next disabled"><a class="page-link brd-rd2" href="" itemprop="url">NEXT</a></li>

                                {% endif %}
                            </ul>
                        </div><!-- Pagination Wrapper -->
                        {% endif %}
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}