
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Food Junction</title>
    <link rel="shortcut icon" href=/static/images/favicon.png type="image/x-icon">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous"
   />
   <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
 

    <link rel="stylesheet" href=/static/css/css2.css>
    <link rel="stylesheet" href=/static/css/icons.min.css>
    <link rel="stylesheet" href=/static/css/bootstrap.min.css>
    <link rel="stylesheet" href=/static/css/main.css>
    <link rel="stylesheet" href=/static/css/red-color.css>

    <link rel="stylesheet" href=/static/css/responsive.css>
    <link rel="stylesheet" href=/static/css/cart.css>
  
</head>
<body itemscope>
    <main>
        <div class="preloader">
            <div id="cooking">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div id="area">
                    <div id="sides">
                        <div id="pan"></div>
                        <div id="handle"></div>
                    </div>
                    <div id="pancake">
                        <div id="pastry"></div>
                    </div>
                </div>
            </div>
        </div>
        <header class="stick">
            <div class="topbar">
                <div class="container">
                    

                    <div class="topbar-register">
                        <a href="/account/logoutUser/" title="Login" itemprop="url">LOGOUT</a> 
                       
                    </div>
                    
                    <div class="social1">
                        <a href="https://www.facebook.com/localhost321" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        <a href="https://www.twitter.com" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.google.com" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>                
            </div><!-- Topbar -->
            <div class="logo-menu-sec">
                <div class="container">
                    <div class="logo"><h1 itemprop="headline"><a href=/ title="Home" itemprop="url" style="font-size:23px; font-weight: bolder;">Food <span style="color: red;">Mario</span></a></h1></div>
                    <nav>
                        <div class="menu-sec">
                            <ul>
                                <li class="menu-item-has-children"><a href=/ title="HOMEPAGES" itemprop="url"><span class="red-clr">FOOD ORDERING</span>HOME</a>
                                   
                                </li>
                                <li class="menu-item-has-children"><a href=/menu/ title="menu" itemprop="url"><span class="red-clr">REAL FOOD</span>OUR MENU</a>
                                    
                                </li>
                                
                                <li><a href=/food_gallery/  title="Food Gallery" itemprop="url"><span class="red-clr">REAL FOOD</span>GALLERY</a></li>
                                <li class="menu-item-has-children"><a href="/about_us/" title="PAGES" itemprop="url"><span class="red-clr">ABOUT US</span>ABOUT US</a>
                                   
                                </li>
                                <li>
                                    <a href=/contact_us/ title="CONTS" itemprop="url"><span class="red-clr">REAL FOOD</span>CONTACT</a></li>
                                <li>                          
                                      <a href="/cart/"><i class="fa fa-shopping-cart" style="font-size:42px;">
                                        <span class="badge badge-danger">3</span>
                                      </i>
                                      
                                    </a>
                                  </li>                                
                            </ul>
                     
                        </div>
                    </nav><!-- Navigation -->
                </div>
            </div><!-- Logo Menu Section -->
        </header><!-- Header -->
        
        <div class="responsive-header">
            <div class="responsive-topbar">
                
                
            </div>
            <div class="responsive-logomenu">
                <div class="logo"><h1 itemprop="headline"><a href=/ title="Home" itemprop="url"><img src=/static/images/logo.png alt="logo.png" itemprop="image"></a></h1></div>
                <span class="menu-btn yellow-bg brd-rd4"><i class="fa fa-align-justify"></i></span>
            </div>
            <div class="responsive-menu">
                <span class="menu-close red-bg brd-rd3"><i class="fa fa-close"></i></span>
                <div class="menu-lst">
                    <ul>
                        <li class="menu-item-has-children"><a href=/ title="HOMEPAGES" itemprop="url"><span class="yellow-clr">FOOD ORDERING</span>HOMEPAGES</a>
                            
                        </li>
                        <li class="menu-item-has-children"><a href=/menu/ title="RESTAURANTS" itemprop="url"><span class="yellow-clr">REAL FOOD</span>OUR MENU</a>
                            
                        </li><li class="menu-item-has-children"><a href="#" title="RESTAURANTS" itemprop="url"><span class="yellow-clr">REAL Gallery</span>FOOD GALLERY</a>
                            
                        </li>
                        <li class="menu-item-has-children"><a href="#" title="PAGES" itemprop="url"><span class="yellow-clr">REAL FOOD</span>SPECIAL PAGES</a>
                            <ul class="sub-dropdown">
                        
                                
                                <li><a href="food-detail.html" title="FOOD DETAIL" itemprop="url">FOOD DETAIL</a></li>
                                <li><a href="about-us.html" title="ABOUT US" itemprop="url">ABOUT US</a></li>
                                
                            </ul>
                        </li>
                        <li><a href="contact.html" title="CONTACT US" itemprop="url"><span class="yellow-clr">REAL FOOD</span>CONTACT US</a></li>
                    </ul>
                </div>
                
                <div class="topbar-register">
                    <a class="log-popup-btn" href="/account/login/" title="Login" itemprop="url">LOGIN</a> / 
                    <a class="sign-popup-btn" href="/account/register/" title="Register" itemprop="url">REGISTER</a>
                </div>
            </form>
                <div class="social1">
                    <a href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>
                </div>
                
            </div><!-- Responsive Menu -->
        </div><!-- Responsive Header -->
        
        	<!-- Newsletter Popup Wrapper -->

        
<section>
    <div class="block blackish opac50">
        <div class="fixed-bg" style="background-image: url(/static/images/parallax2.jpg);"></div>
        <div class="restaurant-searching style2 text-center">
            <div class="restaurant-searching-inner">
                <span>Delicious <i>Food</i> </span>
                <h2 itemprop="headline">Order Delivery & Take-Out</h2>
                <form class="restaurant-search-form2 brd-rd30" action="/menu/search/" method="GET">
                    <input class="brd-rd30" type="text" placeholder="F00D NAME" name="keyword" style="color: black;font-size: 15px;">
                    <button class="brd-rd30 red-bg" type="submit">SEARCH</button>
                </form>
            </div>
        </div><!-- Restaurant Searching -->
    </div>
</section>
<section>
    <div class="block no-padding overlape-45">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="top-restaurants-wrapper">
                        <ul class="restaurants-wrapper style2">
                            <li class="wow bounceIn" data-wow-delay="0.2s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 1" itemprop="url"><img src=/static/images/resource/top-restaurant1.png alt="top-restaurant1.png" itemprop="image"></a></div></li>
                            <li class="wow bounceIn" data-wow-delay="0.4s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 2" itemprop="url"><img src=/static/images/resource/top-restaurant2.png alt="top-restaurant2.png" itemprop="image"></a></div></li>
                            <li class="wow bounceIn" data-wow-delay="0.6s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 3" itemprop="url"><img src=/static/images/resource/top-restaurant3.png alt="top-restaurant3.png" itemprop="image"></a></div></li>
                            <li class="wow bounceIn" data-wow-delay="0.8s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 4" itemprop="url"><img src=/static/images/resource/top-restaurant4.png alt="top-restaurant4.png" itemprop="image"></a></div></li>
                            <li class="wow bounceIn" data-wow-delay="1s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 5" itemprop="url"><img src=/static/images/resource/top-restaurant5.png alt="top-restaurant5.png" itemprop="image"></a></div></li>
                            <li class="wow bounceIn" data-wow-delay="1.2s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 5" itemprop="url"><img src=/static/images/resource/top-restaurant6.png alt="top-restaurant6.png" itemprop="image"></a></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- top returents -->

<section>
    <div class="block remove-bottom">
        <div class="container">
            <div class="row">
                <div class="welcome-sec">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="welcome-secinfo">
                            <h2>Welcome To FoodChow</h2>
                            <span>We Create Delicious Memories</span>
                            <p>Proin luctus, justo sit amet laoreet venenatis, libero velit tincidunt mi, nec 
fermentum ante massa id quam. In gravida erat vel diam blandit consequat morbi. Ut interdum nuceu egestas arcu uspend isse sodales. Eiusmod tempor incidiunt labore velit dolore magna aliqu sed enimi nim.</p>
                            <div class="award">
                                <img src=/static/images/award.png alt="">
                                <span><em>middle east</em>hotel <i>award</i></span>
                            </div>
                            <span class="sign">
                                <img src=/static/images/sign.png alt="">
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="welcome-gallery">
                            <img src=/static/images/resource/food1.jpg alt="">
                            <img src=/static/images/resource/food2.jpg alt="">
                            <img src=/static/images/resource/food3.jpg alt="">
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</section><!-- welcome section -->

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="title1-wrapper text-center">
                        <div class="title1-inner">
                            <span>Website for Restaurant and Cafe</span>
                            <h2 itemprop="headline">popular of the month</h2>
                        </div>
                    </div>
                    <div class="remove-ext">
                        <div class="row">
                            
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                
                              
                                    <div class="popular-dish-box style2 wow fadeIn" data-wow-delay="0.2s">
                                        <div class="popular-dish-thumb">
                                            <a href="food-detail.html" title="" itemprop="url"><img src="/the_uploaded_images/popular-dish-img3_ogjvqIH.jpg" alt="popular-dish-img1.jpg" itemprop="image"></a>
                                           
                                        </div>
                                        <div class="popular-dish-info">
                                            <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Scrambled Eggs</a></h4>
                                            <p itemprop="description">A dish of eggs prepared by bea</p>
                                            <span class="price">199.00</span>
                                            <a class="brd-rd4 " href="food-detail.html" title="Order Now" itemprop="url">Order Now</a>
                                           
                                        </div>
                                    </div><!-- Popular Dish Box -->
                               
                              
                                
                            </div>
                            
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                
                              
                                    <div class="popular-dish-box style2 wow fadeIn" data-wow-delay="0.2s">
                                        <div class="popular-dish-thumb">
                                            <a href="food-detail.html" title="" itemprop="url"><img src="/the_uploaded_images/popular-dish-img3.jpg" alt="popular-dish-img1.jpg" itemprop="image"></a>
                                           
                                        </div>
                                        <div class="popular-dish-info">
                                            <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Salted Fried Chicken</a></h4>
                                            <p itemprop="description">Lorem Ipsum is simply dummy te</p>
                                            <span class="price">399.00</span>
                                            <a class="brd-rd4 " href="food-detail.html" title="Order Now" itemprop="url">Order Now</a>
                                           
                                        </div>
                                    </div><!-- Popular Dish Box -->
                               
                              
                                
                            </div>
                            
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                
                              
                                    <div class="popular-dish-box style2 wow fadeIn" data-wow-delay="0.2s">
                                        <div class="popular-dish-thumb">
                                            <a href="food-detail.html" title="" itemprop="url"><img src="/the_uploaded_images/popular-dish-img2.jpg" alt="popular-dish-img1.jpg" itemprop="image"></a>
                                           
                                        </div>
                                        <div class="popular-dish-info">
                                            <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Crab With Curry Sources</a></h4>
                                            <p itemprop="description">Lorem Ipsum is simply dummy te</p>
                                            <span class="price">599.00</span>
                                            <a class="brd-rd4 " href="food-detail.html" title="Order Now" itemprop="url">Order Now</a>
                                           
                                        </div>
                                    </div><!-- Popular Dish Box -->
                               
                              
                                
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block gray-bg2 top-padd30 bottom-padd210">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="filters-wrapper">
                    <div class="title1-wrapper text-center">
                        <div class="title1-inner">
                            <span>Your Favourite Food</span>
                            <h2 itemprop="headline">featured food</h2>
                        </div>
                    </div>
                    
                    
                        <ul style="text-align: center;">                       
                            <li style="display: inline-block; padding-left: 30px; margin-bottom: 30px; font-size: 16px;"><a data-filter="*" href="/catg/breakfast/" itemprop="url"><b>Breakfast</b></a></li>
                            
                            <li style="display: inline-block; padding-left: 30px; margin-bottom: 30px; font-size: 16px;"><a data-filter="*" href="/catg/lunch/" itemprop="url"><b>Lunch</b></a></li>
                            
                            <li style="display: inline-block; padding-left: 30px; margin-bottom: 30px; font-size: 16px;"><a data-filter="*" href="/catg/dinner/" itemprop="url"><b>Dinner</b></a></li>
                            
                            <li style="display: inline-block; padding-left: 30px; margin-bottom: 30px; font-size: 16px;"><a data-filter="*" href="/catg/snacks/" itemprop="url"><b>Snacks</b></a></li>
                        </ul>
                        
                    <div class="filters-inner style2">
                        <div class="row">
                          <div class="masonry">                             
                                <div class="col-md-6 col-sm-12 col-lg-6 filter-item filter-item1">
                                   <div class="featured-restaurant-box wow fadeIn" data-wow-delay="0.1s">                              
                                        <div class="featured-restaurant-thumb">
                                            <a href="food-detail.html" title="" itemprop="url"><img class="brd-rd50" src=/the_uploaded_images/popular-dish-img1_oxF4sae.jpg alt="featured-restaurant-img1.jpg" itemprop="image"></a>
                                        </div>
                                        <div class="featured-restaurant-info">
                                            <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">hehe</a></h4>
                                            <span class="price">129.00</span>                                            
                                                                                     
                                        </div> 
                                        
                                      
                                        <div class="featured-restaurant-thumb">
                                            <a href="food-detail.html" title="" itemprop="url"><img class="brd-rd50" src=/the_uploaded_images/popular-dish-img1.jpg alt="featured-restaurant-img1.jpg" itemprop="image"></a>
                                        </div>
                                        <div class="featured-restaurant-info">
                                            <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Pizza</a></h4>
                                            <span class="price">599.00</span>                                            
                                                                                     
                                        </div> 
                                        
                                      
                                        <div class="featured-restaurant-thumb">
                                            <a href="food-detail.html" title="" itemprop="url"><img class="brd-rd50" src=/the_uploaded_images/popular-dish-img2_aQm0CZq.jpg alt="featured-restaurant-img1.jpg" itemprop="image"></a>
                                        </div>
                                        <div class="featured-restaurant-info">
                                            <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Burger</a></h4>
                                            <span class="price">299.00</span>                                            
                                                                                     
                                        </div> 
                                        
                                      
                                        <div class="featured-restaurant-thumb">
                                            <a href="food-detail.html" title="" itemprop="url"><img class="brd-rd50" src=/the_uploaded_images/popular-dish-img3_Ir9Bsuu.jpg alt="featured-restaurant-img1.jpg" itemprop="image"></a>
                                        </div>
                                        <div class="featured-restaurant-info">
                                            <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Chili Spicy Food</a></h4>
                                            <span class="price">599.09</span>                                            
                                                                                     
                                        </div> 
                                        
                                      
                                        <div class="featured-restaurant-thumb">
                                            <a href="food-detail.html" title="" itemprop="url"><img class="brd-rd50" src=/the_uploaded_images/popular-dish-img2.jpg alt="featured-restaurant-img1.jpg" itemprop="image"></a>
                                        </div>
                                        <div class="featured-restaurant-info">
                                            <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Crab With Curry Sources</a></h4>
                                            <span class="price">599.00</span>                                            
                                                                                     
                                        </div> 
                                        
                                      
                                        <div class="featured-restaurant-thumb">
                                            <a href="food-detail.html" title="" itemprop="url"><img class="brd-rd50" src=/the_uploaded_images/popular-dish-img3.jpg alt="featured-restaurant-img1.jpg" itemprop="image"></a>
                                        </div>
                                        <div class="featured-restaurant-info">
                                            <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Salted Fried Chicken</a></h4>
                                            <span class="price">399.00</span>                                            
                                                                                     
                                        </div> 
                                                                               
                                    </div>
                                    
                                </div>
                               
                               
                            </div>
                          
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block no-padding red-bg">
        <img class="bottom-clouds-mockup" src="assets/images/resource/clouds2.png" alt="clouds2.png" itemprop="image">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="app-sec">
                        <div class="row">
                            <div class="col-md-4 hidden-sm col-md-offset-1 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-1">
                                <div class="app-mockup text-right overlape-110 wow fadeInUp" data-wow-delay="0.2s"><img src=/static/images/resource/app-mockup.png alt="app-mockup.png" itemprop="image"></div>
                            </div>
                            <div class="col-md-6 col-md-offset-1 col-sm-12 col-sm-offset-0 col-lg-6 col-lg-offset-1">
                                <div class="app-info">
                                    <h4 itemprop="headline">The Best Food Delivery App</h4>
                                    <p itemprop="description">We have a launch team that focuses on one city at a time. At the end of the day, we're a marketplace. In order to make an effective marketplace, you need critical mass. We need enough restaurants that  quality and variety</p>
                                    <div class="app-download-btns">
                                        <a class="" href="#" title="Google Play Store" itemprop="url" target="_blank"><img src=/static/images/resource/app-download-btn1.png alt="app-download-btn1.png" itemprop="image"></a>
                                        <a class="" href="#" title="Apple App Store" itemprop="url" target="_blank"><img src=/static/images/resource/app-download-btn2.png alt="app-download-btn2.png" itemprop="image"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- App Section -->
                </div>
            </div>
        </div>
    </div>
</section>
        <footer>
            <div class="block top-padd80 bottom-padd80 dark-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="footer-data">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget about_widget wow fadeIn" data-wow-delay="0.1s">
                                            <div class="logo"><h1 itemprop="headline"><a href="#" title="Home" itemprop="url"><img src=/static/images/logo.png alt="logo.png" itemprop="image"></a></h1></div>
                                            <p itemprop="description">We have a launch team that focuses on one city at a time. At the end of the day, we're a marketplace. In order to make an effective marketplace, you need critical mass. We need enough restaurants that quality and variety</p>
                                            <div class="social2">
                                                <a class="brd-rd50" href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook"></i></a>
                                                <a class="brd-rd50" href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                <a class="brd-rd50" href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                                                <a class="brd-rd50" href="#" title="Pinterest" itemprop="url" target="_blank"><i class="fa fa-pinterest"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget information_links wow fadeIn" data-wow-delay="0.2s">
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget customer_care wow fadeIn" data-wow-delay="0.3s">
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget get_in_touch wow fadeIn" data-wow-delay="0.4s">
                                            <h4 class="widget-title" itemprop="headline">GET IN TOUCH</h4>
                                            <ul>
                                               <li><i class="fa fa-map-marker"></i> 123 New Design Str, ABC Building, Kathmandu, Nepal.</li>
                                               <li><i class="fa fa-phone"></i> (977) 9823381235</li>
                                               <li><i class="fa fa-envelope"></i> <a href="#" title="" itemprop="url">customer_care@foodjunction.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Footer Data -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src=/static/js/jquery.min.js></script>
    <script src=/static/js/bootstrap.min.js></script>
    <script src=/static/js/plugins.js></script>
    <script src=/static/js/main.js></script>
    <script src=/static/js/cart.js></script>
</body>
</html>